*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #001011 0%,#001011 40%,#001011 60%, #485563 280%);
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.oculto {
    display: none;
}

html {
    font-size: 10px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin:0 auto;
    padding: 2rem 10rem;  
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
    border-radius: 05px;
    
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #a0a0a0;
    position: relative;
    padding: 0 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
}

header ul a:hover{
    color: white;
}

header ul a::after{
    content:"" ;
    position: absolute;
    background-color: #FB3640;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;  
}

ul a:hover::after{
    width: 100%;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.logo {
    height: auto;
    width: 100px;
}



/* BODY */


.hero {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 60vh;
    margin: 190px auto;
    height: 3px;
    width: 100%;

}

.text-hero {
    width: 770px;
    height: auto;  
}



main section img {
    height: auto;
    width:  400px;
    border-radius: 8%;
    float: right;
    margin-left: 80px;
    margin-top: 20px;
}

main section div a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 180px;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #FB3640;
    padding: 20px 30px;
    margin-top: 50px;
}

main section div a:hover{
    background-color: #FB3640;
}




h2{
    font-family: "Teko", sans-serif;
    font-size: 10rem;
    font-weight: 700;
    color:  white;
    margin-bottom: -10px;
}

h3 {
    font-family: "Teko", sans-serif;
    font-size: 6rem;
    font-weight: 500;
    color: #FB3640;
    margin-bottom: -10px;
}


h4 {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #FB3640;
    margin-bottom: -10px;
}



p {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
}

main section span{
    color: #FB3640
}

.logos {
    font-size: 50px;
    color:#FB3640;

}

.enviar {
    display: block;
    text-align: center;
    width: 180px;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #FB3640;
    padding: 20px 30px;
    margin-top: 50px;
}

.enviar:hover {
    background-color: #FB3640;
}





/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 180px;
    background-image: linear-gradient(to top, #e2ebf0 100%,#cfd9df 50%);
    /* background-color: gray; */
    margin-top: auto;
}

footer div a{
    text-decoration: none;
    color: #001011;
    font-size: 25px;
    
}

footer div i {
    margin-right: 15px;
}

#textofooter{
    color: #001011;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
}


@media screen and (max-width: 655px){

    html {
        font-size: 10px;
    }

    header {
        padding: 2rem 3rem;
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        color:red;       
        background-color: transparent;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #777777;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;

    }
    
    .nav-list li a{
        color: white;
    }

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 50vh;
        margin-top: 8rem;
        margin-bottom: 8rem;
        height: 100vh;
        width: 100%;
    
    }
    
    .text-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto; 
        margin: 0 50px; 
    }
    
    
    
    .hero img {
        height: auto;
        width:  60%;
        border-radius: 8%;
        float:none;
        margin: 0;
        margin-top: 20px;
    }
    
    .text-hero a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 180px;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        color: white;
        border-radius: 10px;
        border-style: solid;
        border-color: #FB3640;
        padding: 10px 20px;
        margin-top: 20px;
    }
    
    main section div a:hover{
        background-color: #FB3640;
    }
    
    
    
    
    h2{
        font-family: "Teko", sans-serif;
        font-size: 6.5rem;
        font-weight: 700;
        color:  white;
        margin-bottom: -10px;
    }

    .segundo {
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-family: "Teko", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    h4 {
        font-family: "Teko", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
        margin-bottom: 0;
    }

    
    
    main section span{
        color: #FB3640
    }

    /* FOOTER */

    footer {
        width: 100%;
        background-image: linear-gradient(to top, #e2ebf0 100%,#cfd9df 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .contenedor-footer a{
        text-decoration: none;
        color:#001011;
        font-size: 2rem;
    }

    #textofooter{
        color:#001011;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;

    }
}

@media screen and (max-width: 500px){
    html {
        font-size: 10px;
    }

    header {
        padding: 2rem 3rem;
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        color:red;       
        background-color: transparent;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #777777;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;

    }
    
    .nav-list li a{
        color: white;
    }

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 50vh;
        margin-top: 8rem;
        margin-bottom: 8rem;
        height: 100vh;
        width: 100%;
    
    }
    
    .text-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto; 
        margin: 0 50px; 
    }
    
    
    
    .hero img {
        height: auto;
        width:  60%;
        border-radius: 8%;
        float:none;
        margin: 0;
        margin-top: 20px;
    }
    
    .text-hero a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 180px;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: white;
        border-radius: 10px;
        border-style: solid;
        border-color: #FB3640;
        padding: 10px 20px;
        margin-top: 20px;
    }
    
    main section div a:hover{
        background-color: #FB3640;
    }
    
    
    
    
    h2{
        font-family: "Teko", sans-serif;
        font-size: 5rem;
        font-weight: 700;
        color:  white;
        margin-bottom: -10px;
    }

    .segundo {
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-family: "Teko", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    h4 {
        font-family: "Teko", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
        color: white;
        margin-bottom: 0;
    }

    
    
    main section span{
        color: #FB3640
    }

    /* FOOTER */

    footer {
        width: 100%;
        background-image: linear-gradient(to top, #e2ebf0 100%,#cfd9df 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .contenedor-footer a{
        text-decoration: none;
        color:#001011;
        font-size: 2rem;
    }

    #textofooter{
        color:#001011;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;

    }
}


@media screen and (max-width: 384px){
    html {
        font-size: 10px;
    }

    header {
        padding: 2rem 3rem;
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        color:red;       
        background-color: transparent;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #777777;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;

    }
    
    .nav-list li a{
        color: white;
    }

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 50vh;
        margin-top: 8rem;
        margin-bottom: 8rem;
        height: 100vh;
        width: 100%;
    
    }
    
    .text-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto; 
        margin: 0 50px; 
    }
    
    
    
    .hero img {
        height: auto;
        width:  60%;
        border-radius: 8%;
        float:none;
        margin: 0;
        margin-top: 20px;
    }
    
    .text-hero a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 180px;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        color: white;
        border-radius: 10px;
        border-style: solid;
        border-color: #FB3640;
        padding: 10px 20px;
        margin-top: 20px;
    }
    
    main section div a:hover{
        background-color: #FB3640;
    }
    
    
    
    
    h2{
        font-family: "Teko", sans-serif;
        font-size: 6.5rem;
        font-weight: 700;
        color:  white;
        margin-bottom: -10px;
    }

    .segundo {
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-family: "Teko", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    h4 {
        font-family: "Teko", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
        margin-bottom: 0;
    }

    
    
    main section span{
        color: #FB3640
    }

    /* FOOTER */

    footer {
        width: 100%;
        background-image: linear-gradient(to top, #e2ebf0 100%,#cfd9df 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .contenedor-footer a{
        text-decoration: none;
        color:#001011;
        font-size: 2rem;
    }

    #textofooter{
        color:#001011;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;

    }
}

@media screen and (max-width: 500px){
    html {
        font-size: 10px;
    }

    header {
        padding: 2rem 3rem;
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        color:red;       
        background-color: transparent;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #777777;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;

    }
    
    .nav-list li a{
        color: white;
    }

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 50vh;
        margin-top: 8rem;
        margin-bottom: 8rem;
        height: 100vh;
        width: 100%;
    
    }
    
    .text-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto; 
        margin: 0 50px; 
    }
    
    
    
    .hero img {
        height: auto;
        width:  60%;
        border-radius: 8%;
        float:none;
        margin: 0;
        margin-top: 20px;
    }
    
    .text-hero a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 180px;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: white;
        border-radius: 10px;
        border-style: solid;
        border-color: #FB3640;
        padding: 10px 20px;
        margin-top: 20px;
    }
    
    main section div a:hover{
        background-color: #FB3640;
    }
    
    
    
    
    h2{
        font-family: "Teko", sans-serif;
        font-size: 4rem;
        font-weight: 700;
        color:  white;
        margin-bottom: -10px;
    }

    .segundo {
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-family: "Teko", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    h4 {
        font-family: "Teko", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: #FB3640;
        margin-bottom: -10px;
    }
    
    
    
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        font-weight: 200;
        color: white;
        margin-bottom: 0;
    }

    
    
    main section span{
        color: #FB3640
    }

    /* FOOTER */

    footer {
        width: 100%;
        background-image: linear-gradient(to top, #e2ebf0 100%,#cfd9df 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .contenedor-footer a{
        text-decoration: none;
        color:#001011;
        font-size: 2rem;
    }

    #textofooter{
        color:#001011;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;

    }    
}